.flex {
  display: flex;
  &--column {
    flex-direction: column;
  }
  &--wrap {
    flex-wrap: wrap;
  }
}

.align-items {
  &-center {
    align-items: center;
  }
}

.justify-content {
  &-center {
    justify-content: center;
  }
  &-between {
    justify-content: space-between;
  }
  &-around {
    justify-content: space-around;
  }
}