@if global_variable_exists(gutters) {
  @each $suffix, $value in ($gutters) {
    .gutters#{$suffix} {
      margin-left: $value/2*-1;
      margin-right: $value/2*-1;
      & > * {
        padding-left: $value/2;
        padding-right: $value/2;
      }
    }
  }
}

@each $prefix, $value in ($prefixes-mq) {
  @for $i from 1 through $nb-cols {
    $val: 100% * $i / $nb-cols;
    @if $prefix == 'tiny' {
      .#{$prefix}-#{$i} {
        width: $val;
      }
      .#{$prefix}-push-#{$i} {
        margin-left: $val;
      }
      .#{$prefix}-order-#{$i} {
        order: $i;
      }
    } @else {
      @include mq($value) {
        .#{$prefix}-#{$i} {
          width: $val;
        }
        .#{$prefix}-push-#{$i} {
          margin-left: $val;
        }
        .#{$prefix}-order-#{$i} {
          order: $i;
        }
      }
    }
  }
}

@each $prefix, $value in ($prefixes-mq) {
  @if $prefix == 'tiny' {
    .#{$prefix}-push-0 {
      margin-left: 0;
    }
  } @else {
    @include mq($value) {
      .#{$prefix}-push-0 {
        margin-left: 0;
      }
    }
  }
}