{% extends "layout.html.twig" %}

{% block subbody %}
    {{ dump(user) }}
    <form method="post">
        <label>Username</label>
        <input type="text" name="name" value="{{ user.name }}">
        <label>Password</label>
        <input type="password" name="password" value="{{ user.password }}">
        <input type="submit">
    </form>
{% endblock %}
