.panel {

  display: inline-block;
  padding-bottom: 1rem;
  position: relative;
  vertical-align: top;
  &__header {
    display: flex;
    align-items: center;
    padding: .5rem;
    width: 100%;
    background-color: $gray-30;
    cursor: pointer;
  }
  &__tab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    & + .panel__title {
      margin: 0 1rem;
    }
  }
  &__title {
    color: $blue-ice;
    font-size: 1.8rem;
    text-shadow: 0 0 3px white;
    text-transform: uppercase;
    font-weight: 700;
  }
  &__content {
    padding: .5rem .5rem 1rem 5%;
    width: 100%;
    background: $gray-10;
    box-shadow: inset 0 2px 2px $gray-50;
    color: $blue-space;
    position: absolute;
    z-index: 100;
    p, li, a {
      color: $gray-80;
    }
  }
  &__links {
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      position: relative;
      padding: .7rem 1rem;
      &:before {
        content: "";
        display: block;
        width: .8rem;
        margin-left: .25rem;
        margin-right: 1rem;
        border-top: $blue-space 2px solid;
      }
      &:hover {
        background: white;
        color: $blue-space;
      }
    }
  }
  &:not(.panel--open) {
    .panel__header {
      border: 0;
      padding: .5rem;
      background: $gray-10;
    }
    .panel__title {
      display: none;
    }
    .panel__content {
      display: none;
    }
  }
}