
.spaceship {
  margin: 10rem auto;
  position: relative;
  .slot {
    background-color: #e1e1e1;
    display: block;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    &[data-size="0"] {
      @include square(17.5rem);
    }
    &[data-size="1"] {
      @include square(17.5rem, 15rem);
    }
    &[data-size="2"] {
      @include square(20rem, 25rem);
    }
    &[data-type="engine"] {
      background-image: url('../img/room/icon/engine.png');
    }
    &[data-type="cockpit"] {
      background-image: url('../img/room/icon/cockpit.png');
    }
    &[data-type="supply"] {
      background-image: url('../img/room/icon/supply.png');
    }
    &[data-type="passengers"] {
      background-image: url('../img/room/icon/passengers.png');
    }
    &[data-type=""] {
    }
  }

  &[data-type="starter"] {
    width: 80rem;
    height: 60rem;
    background-image: url('../img/spaceship/starter-hull.png');
    .slot {
      cursor: pointer;
      border: 4px solid #444444;
      z-index: 0;
      &:hover {
        box-shadow: 0 0 10px white;
        z-index: 1;
      }
      &[data-type="engine"] {
        top: 17.5rem;
        left: 15rem;
      }
      &[data-type="cockpit"] {
        top: 22.5rem;
        left: 52.5rem;
      }
      &[data-type="supply"] {
        top: 30rem;
        left: 35rem;
      }
      &[data-type=""] {
        top: 12.5rem;
        left: 35rem;
      }
    }
  }
}

.spaceship__specification {
  border: 1px solid #afafaf;
  padding: 1rem;
  background: white;
  color: black;

  thead {
    font-size: 1.8rem;
    color: white;
    text-align: left;
    td {
      padding: 1rem;
      background-image: linear-gradient(150deg, #70a3d0 0%, #286794 100%);
      font-weight: 500;
      color: white;
    }
  }
  tbody {
    tr {
      & + tr {
        border-top: 1px solid black;
      }
      &:nth-child(even) {
        background-color: #d9f2ff;
      }
    }
    td {
      padding: .75rem;
      font-size: 1.6rem;
      & + td {
        text-align: right;
      }
    }
  }

}